/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/
/*------------------------------------*\
	#TOOLS
\*------------------------------------*/
/*------------------------------------*\
	#GENERIC
\*------------------------------------*/
/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
/*#region accent-colors*/
.u-c-accent__initial {
  accent-color: initial;
}

.u-c-accent__inherit {
  accent-color: inherit;
}

.u-c-accent__auto {
  accent-color: auto;
}

.u-c-accent__neutral--50 {
  accent-color: #fafafa;
}

.u-c-accent__neutral--100 {
  accent-color: #f5f5f5;
}

.u-c-accent__neutral--200 {
  accent-color: #e5e5e5;
}

.u-c-accent__neutral--300 {
  accent-color: #d4d4d4;
}

.u-c-accent__neutral--400 {
  accent-color: #a3a3a3;
}

.u-c-accent__neutral--500 {
  accent-color: #737373;
}

.u-c-accent__neutral--600 {
  accent-color: #525252;
}

.u-c-accent__neutral--700 {
  accent-color: #404040;
}

.u-c-accent__neutral--800 {
  accent-color: #262626;
}

.u-c-accent__neutral--900 {
  accent-color: #171717;
}

.u-c-accent__primary--50 {
  accent-color: #eef2ff;
}

.u-c-accent__primary--100 {
  accent-color: #e0e7ff;
}

.u-c-accent__primary--200 {
  accent-color: #c7d2fe;
}

.u-c-accent__primary--300 {
  accent-color: #a5b4fc;
}

.u-c-accent__primary--400 {
  accent-color: #818cf8;
}

.u-c-accent__primary--500 {
  accent-color: #6366f1;
}

.u-c-accent__primary--600 {
  accent-color: #4f46e5;
}

.u-c-accent__primary--700 {
  accent-color: #4338ca;
}

.u-c-accent__primary--800 {
  accent-color: #3730a3;
}

.u-c-accent__primary--900 {
  accent-color: #312e81;
}

.u-c-accent__success--50 {
  accent-color: #f0fdf4;
}

.u-c-accent__success--100 {
  accent-color: #dcfce7;
}

.u-c-accent__success--200 {
  accent-color: #bbf7d0;
}

.u-c-accent__success--300 {
  accent-color: #86efac;
}

.u-c-accent__success--400 {
  accent-color: #4ade80;
}

.u-c-accent__success--500 {
  accent-color: #22c55e;
}

.u-c-accent__success--600 {
  accent-color: #16a34a;
}

.u-c-accent__success--700 {
  accent-color: #15803d;
}

.u-c-accent__success--800 {
  accent-color: #166534;
}

.u-c-accent__success--900 {
  accent-color: #14532d;
}

.u-c-accent__warning--50 {
  accent-color: #fffbeb;
}

.u-c-accent__warning--100 {
  accent-color: #fef3c7;
}

.u-c-accent__warning--200 {
  accent-color: #fde68a;
}

.u-c-accent__warning--300 {
  accent-color: #fcd34d;
}

.u-c-accent__warning--400 {
  accent-color: #fbbf24;
}

.u-c-accent__warning--500 {
  accent-color: #f59e0b;
}

.u-c-accent__warning--600 {
  accent-color: #d97706;
}

.u-c-accent__warning--700 {
  accent-color: #b45309;
}

.u-c-accent__warning--800 {
  accent-color: #92400e;
}

.u-c-accent__warning--900 {
  accent-color: #78350f;
}

.u-c-accent__destructive--50 {
  accent-color: #fef2f2;
}

.u-c-accent__destructive--100 {
  accent-color: #fee2e2;
}

.u-c-accent__destructive--200 {
  accent-color: #fecaca;
}

.u-c-accent__destructive--300 {
  accent-color: #fca5a5;
}

.u-c-accent__destructive--400 {
  accent-color: #f87171;
}

.u-c-accent__destructive--500 {
  accent-color: #ef4444;
}

.u-c-accent__destructive--600 {
  accent-color: #dc2626;
}

.u-c-accent__destructive--700 {
  accent-color: #b91c1c;
}

.u-c-accent__destructive--800 {
  accent-color: #991b1b;
}

.u-c-accent__destructive--900 {
  accent-color: #7f1d1d;
}

/*#endregion accent-colors*/