// this file generates all css propertys that should go into the objects part of ITCSS
$property: align-content;
$property-map: map-get($MapPropertys, '#{$property}');
$prefix: map-get($property-map, 'prefix');
$values: map-get($property-map, 'values');
/*#region #{$property}*/
@each $key, $val in $values {
	.u-#{$prefix}__#{$val} {
		#{$property}: #{$val};
	}
}

/*#endregion #{$property}*/

$property: align-items;
$property-map: map-get($MapPropertys, '#{$property}');
$prefix: map-get($property-map, 'prefix');
$values: map-get($property-map, 'values');
/*#region #{$property}*/
@each $key, $val in $values {
	.u-#{$prefix}__#{$val} {
		#{$property}: #{$val};
	}
}

/*#endregion #{$property}*/

$property: align-self;
$property-map: map-get($MapPropertys, '#{$property}');
$prefix: map-get($property-map, 'prefix');
$values: map-get($property-map, 'values');
/*#region #{$property}*/
@each $key, $val in $values {
	.u-#{$prefix}__#{$val} {
		#{$property}: #{$val};
	}
}

/*#endregion #{$property}*/
