@use './Variables/variable.fontweight' as fw;

@use './Tools/tools.media-querry' as mq;

/* #region ELEMENTS */

body {
	font-family: 'Inter', sans-serif;
	font-weight: fw.$regular;
	font-size: 1rem; // 16px
	line-height: 1.5rem; // 24px
}

h1 {
	font-size: 2.5rem; // 40px
	line-height: 3rem; // 48px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 2.25rem; // 36px
		line-height: 2.75rem; // 44px
	}
}

h2 {
	font-size: 2.25rem; // 36px
	line-height: 2.75rem; // 44px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 2rem; // 32px
		line-height: 2.5rem; // 40px
	}
}

h3 {
	font-size: 2rem; // 32px
	line-height: 2.5rem; // 40px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 1.75rem; // 28px
		line-height: 2.25rem; // 36px
	}
}

h4 {
	font-size: 1.75rem; // 28px
	line-height: 2.25rem; // 36px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 1.5rem; // 24px
		line-height: 2rem; // 32px
		letter-spacing: 0;
	}
}

h5 {
	font-size: 1.5rem; // 24px
	line-height: 2rem; // 32px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 1.25rem; // 20px
		line-height: 1.75rem; // 28px
		letter-spacing: 0;
	}
}

h6 {
	font-size: 1.25rem; // 20px
	line-height: 1.75rem; // 28px
	letter-spacing: -0.02rem;

	@include mq.down(tl) {
		font-size: 1.125rem; // 18px
		line-height: 1.5rem; // 24px
		letter-spacing: 0;
	}
}
/* #endregion ELEMENTS */
