// This file contains all variables used throughout the maps and selectors
// use the custom variable file to overwrite the ones in here or use it to create your own for your own map
// neutral colors
$color-neutral-50: #fafafa !default;
$color-neutral-100: #f5f5f5 !default;
$color-neutral-200: #e5e5e5 !default;
$color-neutral-300: #d4d4d4 !default;
$color-neutral-400: #a3a3a3 !default;
$color-neutral-500: #737373 !default;
$color-neutral-600: #525252 !default;
$color-neutral-700: #404040 !default;
$color-neutral-800: #262626 !default;
$color-neutral-900: #171717 !default;
// primary colors
$color-primary-50: #eef2ff !default;
$color-primary-100: #e0e7ff !default;
$color-primary-200: #c7d2fe !default;
$color-primary-300: #a5b4fc !default;
$color-primary-400: #818cf8 !default;
$color-primary-500: #6366f1 !default;
$color-primary-600: #4f46e5 !default;
$color-primary-700: #4338ca !default;
$color-primary-800: #3730a3 !default;
$color-primary-900: #312e81 !default;
// success colors
$color-success-50: #f0fdf4 !default;
$color-success-100: #dcfce7 !default;
$color-success-200: #bbf7d0 !default;
$color-success-300: #86efac !default;
$color-success-400: #4ade80 !default;
$color-success-500: #22c55e !default;
$color-success-600: #16a34a !default;
$color-success-700: #15803d !default;
$color-success-800: #166534 !default;
$color-success-900: #14532d !default;
// warning colors
$color-warning-50: #fffbeb !default;
$color-warning-100: #fef3c7 !default;
$color-warning-200: #fde68a !default;
$color-warning-300: #fcd34d !default;
$color-warning-400: #fbbf24 !default;
$color-warning-500: #f59e0b !default;
$color-warning-600: #d97706 !default;
$color-warning-700: #b45309 !default;
$color-warning-800: #92400e !default;
$color-warning-900: #78350f !default;
// destructive colors
$color-destructive-50: #fef2f2 !default;
$color-destructive-100: #fee2e2 !default;
$color-destructive-200: #fecaca !default;
$color-destructive-300: #fca5a5 !default;
$color-destructive-400: #f87171 !default;
$color-destructive-500: #ef4444 !default;
$color-destructive-600: #dc2626 !default;
$color-destructive-700: #b91c1c !default;
$color-destructive-800: #991b1b !default;
$color-destructive-900: #7f1d1d !default;
// shades
$color-shade-00: #ffffff !default;
$color-shade-100: #000000 !default;
