//
/* importing the font(s) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// adding font(s) to a variable
// using 2 variables in case people wish to use a seperate font for the headers and paragraph
$header-font: 'Inter', sans-serif;
$paragraph-font: 'Inter', sans-serif;
$default-fontsize: 1rem;

/* HEADINGS */
/* Display */
//#region DISPLAY
.f-display {
	font-family: $header-font;
	font-style: normal;
}
.f-display-large {
	@extend .f-display;
	font-size: $default-fontsize * 3.25;
	line-height: 108%;
}
.f-display-small {
	@extend .f-display;
	font-size: $default-fontsize * 2.75;
	line-height: 109%;
}
.f-display-medium-large {
	@extend .f-display-large;
	font-weight: 500;
}
.f-display-medium-small {
	@extend .f-display-small;
	font-weight: 500;
}
.f-display-semibold-large {
	@extend .f-display-large;
	font-weight: 600;
}
.f-display-semibold-small {
	@extend .f-display-small;
	font-weight: 600;
}
.f-display-bold-large {
	@extend .f-display-large;
	font-weight: 700;
}
.f-display-bold-small {
	@extend .f-display-small;
	font-weight: 700;
}
.f-display-extrabold-large {
	@extend .f-display-large;
	font-weight: 800;
}
.f-display-extrabold-small {
	@extend .f-display-small;
	font-weight: 800;
}
//#endregion
