// I use these variables to give names to the values of fonts for use with design software like adobe XD
// names currently from inter on google fonts
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;
