// this file contains all colors as variables and can be overwritten
// neutral colors
$neutral-50: #fafafa !default;
$neutral-100: #f5f5f5 !default;
$neutral-200: #e5e5e5 !default;
$neutral-300: #d4d4d4 !default;
$neutral-400: #a3a3a3 !default;
$neutral-500: #737373 !default;
$neutral-600: #525252 !default;
$neutral-700: #404040 !default;
$neutral-800: #262626 !default;
$neutral-900: #171717 !default;
// primary colors
$primary-50: #eef2ff !default;
$primary-100: #e0e7ff !default;
$primary-200: #c7d2fe !default;
$primary-300: #a5b4fc !default;
$primary-400: #818cf8 !default;
$primary-500: #6366f1 !default;
$primary-600: #4f46e5 !default;
$primary-700: #4338ca !default;
$primary-800: #3730a3 !default;
$primary-900: #312e81 !default;
// success colors
$success-50: #f0fdf4 !default;
$success-100: #dcfce7 !default;
$success-200: #bbf7d0 !default;
$success-300: #86efac !default;
$success-400: #4ade80 !default;
$success-500: #22c55e !default;
$success-600: #16a34a !default;
$success-700: #15803d !default;
$success-800: #166534 !default;
$success-900: #14532d !default;
// warning colors
$warning-50: #fffbeb !default;
$warning-100: #fef3c7 !default;
$warning-200: #fde68a !default;
$warning-300: #fcd34d !default;
$warning-400: #fbbf24 !default;
$warning-500: #f59e0b !default;
$warning-600: #d97706 !default;
$warning-700: #b45309 !default;
$warning-800: #92400e !default;
$warning-900: #78350f !default;
// destructive colors
$destructive-50: #fef2f2 !default;
$destructive-100: #fee2e2 !default;
$destructive-200: #fecaca !default;
$destructive-300: #fca5a5 !default;
$destructive-400: #f87171 !default;
$destructive-500: #ef4444 !default;
$destructive-600: #dc2626 !default;
$destructive-700: #b91c1c !default;
$destructive-800: #991b1b !default;
$destructive-900: #7f1d1d !default;
// shades
$shade-00: #ffffff !default;
$shade-100: #000000 !default;
