$media: (
	ms: 320px,
	//320px /* mobile small */
	mm: 375px,
	//375px /* mobile medium */
	ml: 425px,
	//425px /* mobile large */
	ts: 577px,
	//577px /* tablet small */
	tl: 768px,
	//768px /* tablet large */
	ls: 1024px,
	//1024px /* laptop small */
	hd: 1280px,
	//1280px /* 720p */
	ll: 1440px,
	//1440px /* laptop large */
	fhd: 1920px,
	//1920px /* 1080p */
	uhd: 2560px,
	//2560px /* 4K */
);
